services:
  app:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
      - .:/app

  test:
    build: .
    command: python -m pytest tests/ -v -s
    volumes:
      - .:/app
